body {
    font-family: Arial, sans-serif;
}

#nameInputContainer, #gameSelectionContainer, #quizContainer, #gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

button {
    margin-top: 10px;
}
